<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Now Ui Kit by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/css/demo.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="http://demos.creative-tim.com/now-ui-kit/index.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
                    Now Ui Kit
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                            <p>Download</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./documentation/tutorial-components.html" target="_blank">
                            <i class="now-ui-icons files_paper"></i>
                            <p>Components</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-neutral" href="https://www.creative-tim.com/product/now-ui-kit-pro" target="_blank">
                            <i class="now-ui-icons arrows-1_share-66"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="d-lg-none d-xl-none">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="d-lg-none d-xl-none">Instagram</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <img class="n-logo" src="./assets/img/shopwell.png" alt="">
                    <h1 class="h1-seo">Shop well for less</h1>
                    <h3> Get more bang for your buck</h3>
                </div>
                <h6 class="category category-absolute">Designed by
                    <a href="http://invisionapp.com/" target="_blank">
                        <img src="./assets/img/invision-white-slim.png" class="invision-logo" />
                    </a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">
                        <img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
                    </a>.</h6>
            </div>
        </div>
        <div class="main">
            <div class="section section-images">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-images-container">
                                <img src="assets/img/hero-image-1.png" alt="">
                            </div>
                            <div class="hero-images-container-1">
                                <img src="assets/img/hero-image-2.png" alt="">
                            </div>
                            <div class="hero-images-container-2">
                                <img src="assets/img/hero-image-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-basic">
                <div class="container">
                    <h3 class="title">Basic Elements</h3>
                    <div id="buttons">
                        <h4>Buttons</h4>
                        <p class="category">Pick your style</p>
                        <div class="row">
                            <div class="col-md-10">
                                <button class="btn btn-primary" type="button">Default</button>
                                <button class="btn btn-primary btn-round" type="button">Round</button>
                                <button class="btn btn-primary btn-round" type="button">
                                    <i class="now-ui-icons ui-2_favourite-28"></i> With Icon
                                </button>
                                <button class="btn btn-primary btn-icon btn-round" type="button">
                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                </button>
                                <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
                            </div>
                        </div>
                        <p class="category">Pick your size</p>
                        <div class="row">
                            <div class="col-md-10">
                                <button class="btn btn-primary btn-sm">Small</button>
                                <button class="btn btn-primary">Regular</button>
                                <button class="btn btn-primary btn-lg">Large</button>
                            </div>
                        </div>
                        <p class="category">Pick your color</p>
                        <div class="row">
                            <div class="col-md-10">
                                <button class="btn">Default</button>
                                <button class="btn btn-primary">Primary</button>
                                <button class="btn btn-info">Info</button>
                                <button class="btn btn-success">Success</button>
                                <button class="btn btn-warning">Warning</button>
                                <button class="btn btn-danger">Danger</button>
                                <button class="btn btn-neutral">Neutral</button>
                            </div>
                        </div>
                        <h4>Links</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-link">Default</button>
                                <button class="btn btn-link btn-primary ">Primary</button>
                                <button class="btn btn-link btn-info">Info</button>
                                <button class="btn btn-link btn-success">Success</button>
                                <button class="btn btn-link btn-warning">Warning</button>
                                <button class="btn btn-link btn-danger">Danger</button>
                            </div>
                        </div>
                    </div>
                    <div id="inputs">
                        <h4>Inputs</h4>
                        <p class="category">Form Controls</p>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Regular" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group has-success">
                                    <input type="text" value="Success" class="form-control form-control-success" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group has-danger">
                                    <input type="email" value="Error Input" class="form-control form-control-danger" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Right Nucleo Icon">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-70"></div>
                    <div class="row" id="checkRadios">
                        <div class="col-sm-6 col-lg-3">
                            <p class="category">Checkboxes</p>
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">
                                    Unchecked
                                </label>
                            </div>
                            <div class="checkbox">
                                <input id="checkbox2" type="checkbox" checked="">
                                <label for="checkbox2">
                                    Checked
                                </label>
                            </div>
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" disabled="">
                                <label for="checkbox3">
                                    Disabled unchecked
                                </label>
                            </div>
                            <div class="checkbox">
                                <input id="checkbox4" type="checkbox" checked="" disabled="">
                                <label for="checkbox4">
                                    Disabled checked
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <p class="category">Radios</p>
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio1" value="option1">
                                <label for="radio1">
                                    Radio is off
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                                <label for="radio2">
                                    Radio is on
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio3" id="radio3" value="option3" disabled="">
                                <label for="radio3">
                                    Disabled radio is off
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio4" id="radio4" value="option4" checked="" disabled="">
                                <label for="radio4">
                                    Disabled radio is on
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <p class="category">Toggle Buttons</p>
                            <input type="checkbox" name="checkbox" class="bootstrap-switch" checked/>
                            <br>
                            <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="ON" data-off-label="OFF" />
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <p class="category">Sliders</p>
                            <div id="sliderRegular" class="slider"></div>
                            <br>
                            <div id="sliderDouble" class="slider slider-primary"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-navbars">
                <div class="container" id="menu-dropdown">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Menu</h4>
                            <nav class="navbar navbar-expand-lg bg-primary">
                                <div class="container">
                                    <a class="navbar-brand" href="#">Menu</a>
                                    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="example-navbar" data-nav-image="assets/img/blurred-image-1.jpg">
                                        <ul class="navbar-nav">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">
                                                    <p>Link</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">
                                                    <p>Link</p>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <p>
                                                        Dropdown
                                                    </p>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-6">
                            <h4>Menu with Icons</h4>
                            <nav class="navbar navbar-expand-lg bg-info">
                                <div class="container">
                                    <a class="navbar-brand" href="#">Icons</a>
                                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#example-navbar-icons" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </button>
                                    <div class="collapse navbar-collapse justify-content-end" id="example-navbar-icons">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#pablo"><i class="now-ui-icons ui-1_send" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#pablo"><i class="now-ui-icons users_single-02" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                                    <i class="now-ui-icons ui-1_settings-gear-63" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-header">Dropdown header</a>
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="divider"></div>
                                                    <a class="dropdown-item" href="#">Separated link</a>
                                                    <div class="divider"></div>
                                                    <a class="dropdown-item" href="#">One more separated link</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <h4>Navigation</h4>
                </div>
                <div id="navbar">
                    <div class="navigation-example" style="background-image:url('assets/img/bg7.jpg')">
                        <!-- Navbar Primary  -->
                        <nav class="navbar navbar-expand-lg bg-primary">
                            <div class="container">
                                <div class="navbar-translate">
                                    <a class="navbar-brand" href="#pablo">Primary color</a>
                                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse justify-content-end" id="example-navbar-primary">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#pablo">
                                                <i class="now-ui-icons objects_globe"></i>
                                                <p>Discover</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pablo">
                                                <i class="now-ui-icons users_circle-08"></i>
                                                <p>Profile</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pablo">
                                                <i class="now-ui-icons ui-1_settings-gear-63"></i>
                                                <p>Settings</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- End Navbar Primary -->
    <div class="" ng-controller="Test">
      
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="../controllers/main_controller.js"></script>
</html>